footer {
  margin-top: 80px;
  background-color: rgb(176, 44, 30);
  overflow: hidden;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

nav > div {
  list-style-type: none;
  margin: 10px auto;
  padding: 0;
}

nav > div button {
  display: inline-block;
  text-align: center;
}

nav > div button {
  display: inline-block;
  padding: 10px;
  color: white;
}
